.page {
  width: 100vw;
  height: 100vh;
}

.landing {
  background: linear-gradient(to bottom, #238361, #1f9b6f);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.landing-img {
  display: flex;
  justify-content: center;
}

.landing-img img {
  border-radius: 104px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-content {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  min-height: 60%;
  height: 85%;
  margin: 25px 0;
}

.landing-title-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  text-align: center;
  width: 68%;
}

.landing-title-container h1 {
  font-weight: 500;
  font-size: 47px;
}

.landing-sub-title {
  font-size: 30px;
  margin-top: 8px;
  font-weight: 400;
  width: 78%;
}

.CTA-Container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin-top: 24px;
}

.CTA-Container button {
  width: 28%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 10px;
  padding: 4px;
}

.primary-CTA {
  background-color: #3e7cf4;
}

.secondary-CTA {
  background-color: #7fb6a2;
}

.feature-token-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 15%;
}

.feature-token {
  background-color: #1b664c;
  border-radius: 100px;
  padding: 4px 12px;
  font-size: 12px;
  text-align: center;
  color: #ffff;
  font-weight: 500;
}
